<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-4">
  <b>AddressBook Lookup Search Example</b>
</div>
<div class="form-group col-md-4">
  <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
</div>

<table class="table table-striped">
  <thead>
      <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>FipsCode</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of addresses | filter:searchedKeyword">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.street}}</td>
          <td>{{item.city}}</td>
          <td>{{item.state}}</td>
          <td>{{item.fipsCode}}</td>
      </tr>
  </tbody>
</table>
